body {
    margin: 0px;
    background-color: #424549;
    
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.app-logo {
    width: 56px;
}

.text-color {
    color: #04fbce
}

.text-color:hover {
    color: #ff97d6;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-color {
   background-color:#04fbce;
}

.btn-color:hover {
    background-color:#ff97d6;
 }

.card-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-top: 12px;
}

.quiz-answer-card {
    background-color: #212529;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: #2b3035;
}

.btn:disabled {
    background-color:#04fbce;
}

.card-img-top {
    height: 100%;
}

.progress {
    border-radius: 0px;
}

.progress-bar-color {
    background-color:#04fbce;
}

@media (max-width: 800px) {
    .col-10 {
        width: 100%;
    }

    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
        
    }

    .center-container {
        
    }
}